.h5p-sharing-box {
  background: rgba(255, 255, 255, 0.9);
  float: left;
  margin-top: 1em;
  max-width: 960px;
  width: 100%;
}

.h5p-sharing-box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.h5p-sharing-title-container {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  width: 100%;
}

.h5p-sharing-title {
  flex-grow: 1;
  width: 100%;
}

.h5p-sharing-message {
  color: #999999;
  margin-left: 1em;
  margin-right: 12px;
  opacity: 0;
  transition: visibility 0s linear .25s, opacity .25s linear;
  visibility: hidden;
}

.h5p-sharing-title h2 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0px 12px;
}

.h5p-sharing-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px 0;
  width: 100%;
}

.h5p-sharing-content-container:not(:last-child) {
  margin-bottom: 0.5em;
}

.h5p-sharing-content-container-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 12px;
  word-break: break-all;
}

.h5p-sharing-content-field {
  flex-grow: 1;
  padding-left: 12px;
  text-overflow: clip;
  width: 100%;
}

.h5p-sharing-content-container-title {
  color: #666;
  font-style: italic;
  height: 100%;
  margin-bottom: 0.5em;
  padding: 0 12px;
}

.h5p-sharing-content-field-text {
  flex-grow: 1;
}

.h5p-sharing-content-field-text.embed-qrcode img {
  line-height: 0;
  max-width: 100%;
  min-width: 200px;
  transition: width, 0.25s;
  width: 25%;
}

.h5p-sharing-content-field-text.embed-qrcode img.h5p-sharing-expanded {
  width: 100%;
}

.button.h5p-sharing-button-copy {
  flex-shrink: 0;
  margin-left: 1em;
}

.h5p-sharing-visible {
  opacity: 1;
  visibility: visible;
}
